.page-container {
    margin-top: 150px;
    min-height: 1000px;
}

.game-world {
    position: relative;
    background: #1111;
}

.security-room-container {
    width: 1900px;
    height: 205px;

    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;

}


.security-room {
    border: 2px solid black;
    padding: 100px;
    width: 190px;
}

.button {
    width: 105px;
    height: 204px;
}

.section2 {
    display: flex;
    justify-content: center;
    align-items: center;

    /* border: 1px solid black; */
    height: 205px;
}

.party-area {
    width: 900px;
    height: 204px;
    border: 2px solid black;
}

.bathroom {
    width: 100px;
    height: 204px;
    border: 2px solid black;
}

.section3 {
    display: flex;
    justify-content: center;
    align-items: center;

    /* border: 1px solid black; */
    height: 205px;
}

.kitchen {
    width: 299px;
    height: 204px;
    border: 2px solid black;
}

.store-area {
    width: 299px;
    height: 204px;
    border: 2px solid black;
}

.office {
    width: 295px;
    height: 204px;
    border: 2px solid black;
    margin-right: 103px;
}


.Chica {
    position:absolute;
    width: 35px;
    height: 35px;
    background: rgb(241, 210, 7);
    z-index: 10;
    pointer-events: none;
}

.Guard {
    position:absolute;
    width: 35px;
    height: 35px;
    background: rgb(255, 255, 255);
    z-index: 10;
    pointer-events: none;
}