.security-room-container {
    width: 1900px;
    height: 205px;

    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;

}


.security-room {
    border: 2px solid black;
    padding: 100px;
    width: 190px;
}

.button {
    width: 105px;
    height: 204px;
}

.section2 {
    border: 1px solid black;
    height: 205px;
}

.party-area {
    width: 900px;
    height: 204px;
}